body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f8fa;
}

header {
    background-color: #00aced;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#profile-container {
    display: flex;
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

nav {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #e1e8ed;
}

nav img {
    width: 100px;
    border-radius: 50%;
}

nav h2 {
    margin: 10px 0;
    font-size: 24px;
}

main {
    flex: 2;
}

.tweet {
    padding: 10px;
    border-bottom: 1px solid #e1e8ed;
}

.tweet:last-child {
    border-bottom: none;
}

.tweet img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet .tweet-content {
    display: inline-block;
    width: calc(100% - 60px);
}


.tweet .tweet-content p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.tweet .tweet-content .user-info {
    font-size: 14px;
    color: #777;
}

.tweet .tweet-content .user-info span {
    font-weight: bold;
}