body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #00aced;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#profile-container {
    display: flex;
    width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.profile {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #e1e8ed;
}

.profile img {
    width: 100px;
    border-radius: 50%;
}

.profile h2 {
    margin: 10px 0;
    font-size: 24px;
}

main {
    flex: 2;
}

.tweet {
    padding: 10px;
    border-bottom: 1px solid #e1e8ed;
}

.tweet:last-child {
    border-bottom: none;
}

.tweet img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet .tweet-content {
    display: inline-block;
    width: calc(100% - 60px);
}


.tweet .tweet-content p {
    font-size: 16px;
    font-weight: 500;
}

.tweet .tweet-content .user-info {
    font-size: 14px;
    color: #777;
}

.tweet .tweet-content .user-info span {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}